* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #dadfeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  max-height: 800px;
  min-height: 50px;
  margin: 0;
}
/* 
.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-control {
  height: 40px;
  width: 400px;
  margin: 12px;
  padding: 8px;
  border-radius: 8px;
  font-size: medium;
}

.login-form-btn {
  background-color: #c140b4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; 
}

.login-form-btn:active {
  background-color: #cf9bc9;
}

.login-form-btn:disabled {
  background-color: #d8d3d3;
  cursor: not-allowed;
}

/* Header.css */
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.header-right {
  padding-right: 20px;
}

.logo-app img {
  height: 50px;
}

.header-right img {
  height: 30px;
  cursor: pointer;
}

.user-dropdown {
  position: absolute;
  top: 100%; /* Đặt dropdown ở dưới header */
  right: 0; /* Đặt dropdown ở bên phải */
  margin-top: 10px; /* Khoảng cách giữa dropdown và header */
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav ul li {
  display: inline-block;
  margin-left: 20px;
}

.nav ul li:first-child {
  margin-left: 20;
}

.nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav ul li a:hover {
  color: #9a3397;
}


.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.login-logo {
  height: 280px;
  width: 280px;
  padding: 20px
}
