* {
  box-sizing: border-box;
}

head, body {
  background-color: #FAE6FA;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FCFCFC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  max-height: 800px;
  min-height: 50px;
  margin: 0;
}

/* 
.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* indicator loading */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.disable-interaction {
  pointer-events: none;
}

/* Header.css */
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.header-right div {
  color: #d049c0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-right img {
  margin: 12px;
}

.logo-app img {
  height: 50px;
}

.header-right img {
  height: 30px;
  cursor: pointer;
}

.user-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 10px;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav ul li {
  display: inline-block;
  margin-left: 20px;
}

.nav ul li:first-child {
  margin-left: 20;
}

.nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav ul li a:hover {
  color: #9a3397;
}

/* Login */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 650px;
  width: 500px;
  margin-top: 50px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 0px 20px 0px #ba55d37c;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}

.login-logo {
  height: 180px;
  width: 180px;
  margin: 12px;
}

.form-control {
  height: 50px;
  width: 400px;
  margin: 12px;
  padding: 8px;
  border-radius: 8px;
  font-size: medium;
}

.login-form-btn {
  width: 400px;
  height: 50px;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  background-color: #000000;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form-btn:active {
  background-color: rgba(0, 0, 0, 0.5);
}

.login-form-btn:disabled {
  background-color: #d8d3d3;
  cursor: not-allowed;
}

/* Poll card */
.poll {
  display: flex;
  flex-direction: column;
}

.polls-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.polls-section-title {
  padding: 12px;
  background-color: #d8d3d3;
}

.polls-section-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: wrap;
}

.poll-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.poll-card-title {
  font-weight: bold;
  font-size: 18px;
}