* {
  box-sizing: border-box;
}

head, body {
  background-color: #eff5fff1;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FCFCFC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  max-height: 800px;
  min-height: 50px;
  margin: 0;
}

/* 
.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* indicator loading */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.disable-interaction {
  pointer-events: none;
}

/* Header.css */
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.header-right div {
  color: #d049c0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-right img {
  margin: 12px;
}

.logo-app img {
  height: 50px;
}

.header-right img {
  height: 30px;
  cursor: pointer;
}

.user-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 10px;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav ul li {
  display: inline-block;
  margin-left: 20px;
}

.nav ul li:first-child {
  margin-left: 20;
}

.nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav ul li a:hover {
  color: #9a3397;
}

/* Login */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 650px;
  width: 500px;
  margin-top: 50px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 0px 20px 0px #ba55d37c;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}

.login-logo {
  height: 180px;
  width: 180px;
  margin: 12px;
}

.form-control {
  height: 45px;
  width: 400px;
  margin: 12px;
  padding: 8px;
  border-radius: 8px;
  font-size: medium;
}

.login-form-btn {
  width: 400px;
  height: 50px;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  background-color: #0f5dabf9;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form-btn:active {
  background-color: rgba(0, 0, 0, 0.5);
}

.login-form-btn:disabled {
  background-color: #d8d3d3;
  cursor: not-allowed;
}

/* Poll card */
.poll {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 24px;
}

.polls-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 24px;
  padding: 12px;
  background-color: #ffffff;
  border: 1px solid #e3f2fa;
  border-radius: 2px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

.polls-section-title {
  color: #151e2cf1;
  font-size: 22px;
  font-weight: bold;
}

.polls-section-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: wrap;
}

.poll-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  width: 220px;
  margin: 12px;
  padding: 10px;
  background-color: #ffffff63;
  border: 1px solid #e3f2fa;
  border-radius: 2px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.poll-card-title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  color: #293745;
}

.poll-card-time {
  font-size: 14px;
  color: #5E728C;
}

.poll-card-btn {
  text-align: center;
  width: 100%;
  font-size: 14px;
  padding: 8px;
  margin-top: 12px;
  text-decoration: none;
  background-color: #7bb3eb;
  color: #ffffff;
  font-weight: 600;
  border: 1px solid #C7CFD9;
  border-radius: 4px;
}

.poll-card-btn:hover {
  background-color: #7bb3ebc2;
}


/* Leadersboard */
table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
}

th {
  background-color: #7bb3ebc2;
}

td {
  text-align: start;
  font-family: Arial, sans-serif;
  color: #0c2946c2;
}

tr:nth-child(even) {
  background-color: #7bb3eb2b;
}

.leaderboard-card-avatar {
  width: 40px;
  height: 40px;
  margin: 4px;
}

.leaderboard-card {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 4px;
}

.leaderboard-card-title {
  margin: 0;
  padding: auto;
  font-size: large;
  font-weight: bold;
}

/* Create poll */
.create-poll-body {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sub-title {
  font-size: 14px;
  margin: 8px;
  color: #021b3c;
}
.create-form-btn {
  width: 30%;
  height: 45px;
  margin: 24px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  background-color: #0f5dabf9;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.create-form-btn:hover {
  background-color: #0f5dab96;
}

.create-form-btn:active {
  background-color: #083a6bcb;
}

.create-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  min-width: 800px;
}

.create-form-control {
  height: 45px;
  width: 380px;
  margin: 12px;
  padding: 8px;
  border-radius: 8px;
  font-size: medium;
}

.create-poll-logo {
  height: 150px;
  width: auto;
  margin: 12px;
}

/* Answer poll */
.answer-poll {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  min-width: 800px;
}

.poll-result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  width: 100%;
}

.option-one-area {
  height: 50px;
  width: 50%;
  background-color: #e75ce4;
  text-align: center;
  line-height: 50px;
  color: #ffffff;
  font-weight: bold;
}

.option-two-area {
  height: 50px;
  width: 50%;
  background-color: #03ac19;
  text-align: center;
  line-height: 50px;
  color: #ffffff;
  font-weight: bold;
}

.question-title {
  font-size: 14px;
  width: 100%;
  text-align: center;
}

.answer-poll-option {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: 12px;
  padding: 10px;
  background-color: #ffffff63;
  border: 1px solid #e3f2fa;
  border-radius: 2px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.vote-btn {
  text-align: center;
  width: 100%;
  font-size: 12px;
  padding: 8px;
  margin-top: 12px;
  text-decoration: none;
  background-color: #2e649a;
  color: #ffffff;
  font-weight: 600;
  border: 1px solid #C7CFD9;
  border-radius: 4px;
}

.vote-btn:disabled {
  background-color: #b0b7be;
}

.option-one-btn {
  background-color: #e75ce4;
}

.option-one-btn:hover {
  background-color: #e75ce593;
}

.option-two-btn {
  background-color: #03ac19;
}

.option-two-btn:hover {
  background-color: #03ac199b;
}

